body {
    margin: 0 auto;
    overflow: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
  }

h1 {
  font-size: 5rem;
  padding: 0;
  margin: 0; 
}
